@model MVC_StokTakipOtomasyonu.Models.Entity.Kategoriler
@{
    ViewBag.Title = "GuncelleBilgiGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Güncelle Bilgi Getir</h2>

<div class="container">

    <form action="/Kategoriler/Guncelle/">
       
        @*<div class="form-group">
            <b>ID</b>
            @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        </div>*@
        @Html.HiddenFor(x => x.ID) @*// view içerisinde olacak ancak arayüzde görülmeyecek *@
        <div class="form-group">
            <b>Kategoriler</b>
            @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Kategori, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <b>Açıklama</b>
            @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Aciklama, "", new { @class = "text-danger" })
        </div>
        <div>
            <button class="btn btn-primary">Kategori Güncelle</button>
        </div>
    </form>
</div>

@section scriptdanger{

    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
